*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fefefe;
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    display: flex;
    gap: 16px;
}

.menu a{
font-family: 'Montserrat';
font-weight: 500;
font-size: 16px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #010101;
}

.social_media_wrapper{
    display: flex;
    gap: 10px;
}


.phone_header{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    color: #010101;
}


.hero_block{
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(../img/hero.png);
    height: auto;
    padding-bottom: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 30px;
}


.title{
font-family: 'Montserrat';
font-weight: 600;
font-size: 40px;
text-align: center;
color: #FFFFFF;
padding-top: 110px;
padding-bottom: 20px;
}

.prg_hero{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;

}

.btn_hero{
padding: 10px 65px;
border: 1.5px solid #FFFFFF;
border-radius: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
color: #FFFFFF;
display: block;
margin: 0 auto;
width: fit-content;
}

.title_sections{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 34px;
text-align: center;
color: #010101;
}

.section_container{
    margin-top: 60px;
}

.card-img, .card-img-bottom, .card-img-top{
 object-fit: cover;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 270px;
}
  

  .cards-cont {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            max-width: 1200px;
            margin: 40px auto;
            padding: 0 20px;
        }

        .card{
              border-radius: 20px !important;
            padding: 20px;
        }

        .card a{
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            color: #010101;

        }


/* Горизонтальный стиль для формы расчета такси */
.сont_form {
    background-color: #ffffff; /* Белый цвет блока */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
       max-width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.сont_form, .title_sections{
    margin-bottom: 20px;
}

.input_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    align-items: end;
}

.input-group {
    position: relative;
    margin-bottom: 0;
}

.input-group:not(:has(.btn_dop)) {
    display: flex;
    flex-direction: column;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid #e8ecef;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(255, 255, 255, 0.8);
    outline: none;
    color: #2d3748;
}



.input-group input::placeholder {
    color: #555555;
    font-weight: 400;
}




/* Основная кнопка расчета */
.btn_price_taxi {
    background: #ffc20b;
    color: #010101;
    border: none;
    padding: 18px 30px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    letter-spacing: 0.5px;
    margin-top: 30px;
}

.servise_wrapper{
    margin: 40px auto;
}

/* Стили для выпадающего списка услуг */
#services {
    border: 2px solid #e8ecef;
    border-radius: 12px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
    margin-top: 10px;
    font-size: 14px;
}

/* Кастомные стрелки для select */
.input-group select {  
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px;
    padding-right: 45px;
}

/* Иконки для полей ввода */
.input-group:nth-child(1) input {
   
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: 22px;
}

.input-group:nth-child(2) input {
   
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: 22px;
}

.result{
    margin-top: 20px;
    font-size: 17px;
}

.number{
    color: #f3b600;


font-family: 'Montserrat';
font-weight: 500;
font-size: 35px;

}

.suggestions-promo{
    display: none !important;
}

.name_servise{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}

.left_service_wrapper_card{
    display: flex;
    gap: 20px;
    align-items: center;
}

.service_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #010101;
    padding: 15px 0;
}

.right_service_wrapper_card button{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

.card_advantages{
    display: flex;
    gap: 15px;
}


.advantages_wrapper{
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 40px;
}

.card_advantages p{
    font-size: 18px;
     font-family: 'Montserrat';
    font-weight: 400;
}

.cards_advantages_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.card-slider{
    margin-top: 40px;
}


.card-slider .card-item {
    background: #fff;
    border-radius: 8px;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-slider .card-item .card-image {
    width: 320px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.card-title{
        font-weight: 500;
    font-size: 1.56rem;
    margin-top: 20px;
    font-family: 'Montserrat';
    text-align: center;
}

.card-details{
    width: 70%;
}

.card-details a{
    background: #ffc20b;
    color: #010101;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.5px;
    margin-top: 20px;
    text-align: center;
    display: block;
}

.swiper-button-next, .swiper-button-prev{
   color: #f3b600 !important;
}

.swiper-button-next{
    padding-left: 30px !important;
    padding-bottom: 20px !important;
}



.swiper-button-prev{
        margin-left: -12px !important;
}

.contact_cont{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/8eb433d6-ec80-4c73-aa15-e114abe90172-md.jpeg) no-repeat center center;
    background-size: cover;
    padding: 100px 0 100px;
    margin-top: 60px;
}

.contact_cont h2{
    font-size: 33px;
    text-align: center;
    font-weight: 700;
    color: white;
}


.socila_media_wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.socila_media_wrapper a {
    padding: 10px 60px;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #070707;
     font-family: 'Montserrat';
}

.footer{
    background: #ffc20b;
    color: #010101;
    padding: 20px 0;
    font-size: 15px;
     font-family: 'Montserrat';
}

.footer .container{
     display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container a{
    font-size: 15px;
     font-family: 'Montserrat';
       color: #010101;
}

.swiper-button-next, .swiper-button-prev{
     margin-top: -50px !important;
}

.header_top_social_media_wrapper{
    display: none !important;
}

.header_top{
    display: flex !important;
    justify-content: end !important;
}

.hamburger {
	position: relative;
display: none !important;
	width: 26px;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
    z-index: 200;
    display: block;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000000;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-3px, 2px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}





.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #ffffff;
       padding-top: 140px;
    transition: 0.4s;
	    padding-left: 20px;
    padding-right: 20px;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	color: black;
	text-decoration: none;
	font-size: 16px;
	
}

.social_media_list_page_sity button {
    background-color: #f7b809;
    padding: 13px 60px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: #010101;
    cursor: pointer;
    transition: all 0.3s 
cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
display: block;
}


@media(max-width: 1200px){
    .container, .cards_advantages_wrapper{
        padding: 0 20px;
    }

    br{
        display: none;
    }
}

@media(max-width: 870px){
    .title{
        font-size: 35px;
    }

    .menu{
        display: none;
    }

    .hamburger{
        display: block !important;
    }

    .cards_advantages_wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
}


@media(max-width: 500px){
    .prg_hero{
        padding: 20px;
    }

    .social_media_wrapper{
        display: none;
    }

    .phone_header{
        display: none;
    }

    .title_sections {
    font-size: 30px;
    }

    .header_top_social_media_wrapper{
        display: flex !important;
        position: relative !important;
    z-index: 999 !important;
    }

    .socila_media_wrapper a {
        width: 100% !important;
    }

    .title {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .right_service_wrapper_card button{
    font-size: 19px;
            width: 120px;
        text-align: end;
}
}




.cards-cont{
    padding: 0;
}




.сont_form{
    max-width: 100%;
}

.socila_media_wrapper a {
    font-family: 'Montserrat';
    text-align: center;
}

.footer .container a {
    text-align: end;
            flex-wrap: wrap;
        display: flex;
}


/* Стили для оверлея (подложки) */
.modal-overlay {
display: none; /* По умолчанию скрыто */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
z-index: 1000; /* Высокий z-index для отображения над другими элементами */
justify-content: center;
align-items: center;
}

/* Стили для контейнера модального окна */
.modal-window {
background-color: #fff;
border-radius: 8px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
max-width: 500px;
width: 90%;
position: relative;
animation: modalFadeIn 0.3s ease-out;
}

/* Стили для заголовка модального окна */
.modal-header {
padding: 15px 20px;
border-bottom: 1px solid #eaeaea;
display: flex;
justify-content: space-between;
align-items: center;
}

.modal-header h3{
    font-size: 25px;
}

/* Стили для кнопки закрытия */
.close-btn {
font-size: 35px;
font-weight: bold;
color: #888;
cursor: pointer;
transition: color 0.2s;
}

.close-btn:hover {
color: #333;
}

/* Стили для содержимого модального окна */
.modal-content {
padding: 20px;
max-height: 70vh; /* Максимальная высота для скролла */
overflow-y: auto; /* Добавление скролла при необходимости */
}

.main-zakaz{
    display: grid;
}

.main-zakaz input{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    font-family: "Montserrat";
    font-size: 15px;
}


.main-zakaz textarea{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    resize: none;
    font-family: "Montserrat";
     font-size: 15px;
}

.btn_zakaz{
        background: #ffc20b;
    color: #010101;
    border: none;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    letter-spacing: 0.5px;
}

/* Анимация появления модального окна */
@keyframes modalFadeIn {
from {
opacity: 0;
transform: translateY(-20px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

/* Стили для показа модального окна */
.modal-overlay.active {
display: flex; /* Меняем на flex для центрирования */
}




@media(max-width: 450px){
    .cards-cont
 {
    margin: 20px auto;
 }
}

@media (max-width: 390px) {
    .right_service_wrapper_card button {
        font-size: 19px;
        text-align: end;
        width: 120px;
    }
}





